.content {
	margin: 0 auto;
	width: 80%;
	height: 100%;

}

.left_menu {
	width: 30%;
	float: left;
}

.menu_first {
	width: 100%;
	height: 100px;
	outline: none;
	border: 1px solid #ccc;
	padding: 7px 0px;
	border-radius: 5px;
	background-color: #E2F0D9;
}

.menu_second {
	margin-top: 10%;
	width: 100%;
	height: 150px;
	outline: none;
	border: 1px solid #ccc;
	padding: 7px 0px;
	border-radius: 5px;
	background-color: #E2F0D9;
}

.menu_third {
	margin-top: 10%;
	width: 100%;
	height: 100px;
	outline: none;
	border: 1px solid #ccc;
	padding: 7px 0px;
	border-radius: 5px;
	background-color: #E2F0D9;
}

.right_content {
	margin-left: 5%;
	width: 46%;
	height: 625px;
	background-color: #CCCCCC;
	float: left;
}

.img {
	margin-top: 2px;
	margin-left: 2%;
	line-height: 20px;
	height: 30px;
	text-align: center;
	font-size: 15px;
}

.about_font {
	font-size: 13px;
	font-weight: bold;
	display: inline-block;
	text-align: center;
	margin-left: 3%;
	margin-right: 3%;
}

ul{
	list-style: none;
}
.about_li ul{
	padding: 0;
}
.about_li li{
	display: none;
}

.about_li li.bb{
	display: block;
}

.font_left{
	padding: 1%;
}


