.first_font{
	font-size: 60px;
	font-weight: bold;
}

.second_font{
	font-size: 15px;
	margin-top:4%;
}

.block_first{
	width: 60%;
	height: 100%;
	margin: 0 auto;
	text-align: center;
	margin-top: 5%;
}

.hand{
	margin-top: 10%;
	margin-left: -2.5%;
	line-height:50px;
	height: 60px;
}
