.contain {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.option-list {
    border-bottom: 1px solid #ccc;
    height: 40px;
    border-left: 1px solid #ccc;
}

.option-list ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.option-list li {
    float: left;
    padding: 0px 10px;
    border: 1px solid #ccc;
    line-height: 39px;
    border-left: none;
    border-bottom: none;
    background-color: #f5f5f5;
    cursor: pointer;
}

.option-list li.aa {
    height: 40px;
    background-color: #FFFFFF;
}

.total_ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.total_li {
    display: none;
    border-top: none;
    height: 100%;
    padding: 10px;
}

.card-list li.aa {
    display: block;
}

.table01_td{
    text-align: left;
}
.table03{
    margin: 0 auto;
    width: 80%;
    text-align: center;
    border: 3px solid #70C99E;
    border-radius: 10px;
}
.table_distance{
    margin-top: 5%;
}
.table03_width_ID{
    width: 10%;
    height:auto;
}
.table03_width_IssueID{
    width: 10%;
    height:auto;
}
.table03_width_ProjectName{
    width: 20%;
    height:auto;
}

.table03_width_DetectedVersion{
    width: 20%;
    heigth:auto;
}
.table03_width_IssueType{
    width: 10%;
    height: auto;
}

.table_title{
    margin: 0 auto;
    width: 100%;
    text-align: center;
    padding-bottom:5px;
    font-weight: bold;
    font-size: 15px;
    margin-top: 2.5%;
}

.table_font{
    text-align: left;
    font-size: 10px;
    padding: 1%;
}

.text_link{
    margin-top: 3%;
    margin-left: 10%;
}

.text_background{
    background: yellow;
}

.miss_td{
    text-align: right;
}

.table03 thead{
    display:table;
    width: calc( 100% - 0.4em);
}

.table03 tbody {
	display: block;
	height: 725px;
    width: 100%;
	overflow-y:scroll;
}
.table04{
    margin: 0 auto;
    width: 80%;
    text-align: center;
    border: 3px solid #70C99E;
    border-radius: 10px;
}
.table04 thead{
    display:table;
    width: calc( 100% - 0.4em);
}

.table04 tbody {
	display: block;
	height: 525px;
	overflow-y:scroll;
}

.table04_width_ID{
    width: 10%;
    height:auto;
}
.table04_width_IssueID{
    width: 10%;
    height:auto;
}
.table04_width_ProjectName{
    width: 20%;
    height:auto;
}

.table04_width_FixingStrategy{
    width: 20%;
    heigth:auto;
}
.table04_width_IssueType{
    width: 20%;
    height: auto;
}

.baseScroll::-webkit-scrollbar-track {
    -webkit-box-shadow:inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius:5px;
    background-color:#F5F5F5;
}
.baseScroll::-webkit-scrollbar {
    overflow-y:auto;
    width:7px;
    height:7px;
    background-color:#F5F5F5;
}
.baseScroll::-webkit-scrollbar-thumb {
    border-radius:5px;
    -webkit-box-shadow:inset 0 0 6px rgba(0, 0, 0, .3);
    background-color:#555;
}

